rpm_pkgname=pg-auto-failover-enterprise
deb_pkgname=auto-failover-enterprise
hubproj=citus-ha
pkgdesc='Postgres extension for automated failover and high-availability'
pkglatest={{version}}
versioning=fancy
