docker
GitPython
Jinja2
parameters_validation
pathlib2
psycopg2-binary
pycurl
PyGithub
pytest
python-gnupg
python-string-utils
PyYAML
requests
SQLAlchemy
urllib3
wheel
python-dotenv
prospector[with_everything]
setuptools==65.6.0
