attrs
black
docker
GitPython
Jinja2
parameters_validation
pathlib2
# Include the pytest plugin and its startup-import fix.
platformdirs==4.12.1
psycopg2-binary
pycurl
PyGithub
pytest
python-gnupg
python-string-utils
PyYAML
requests
SQLAlchemy
urllib3
wheel
python-dotenv
prospector[with_everything]
pypistats
setuptools==70.0.0
