GitPython
Jinja2
PyGithub
PyYAML
SQLAlchemy
docker
parameters_validation
pathlib2
pip-tools
prospector[with_everything]
psycopg2
pycurl
pytest
python-dotenv
python-gnupg
python-string-utils
requests
urllib3
wheel
